@import '/vars.scss'; // Importing the variables file

header {
    color: $bg-accent;
    font-weight: 300;
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.gnomeImg {
    padding: 0 30px;
    width: 90px;
    height: 90px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-family: monospace;
    background: linear-gradient(0deg, $primary 0.03%, $accent);
    color: $foreground;
}

.gnome, .gnomeResponse {
    color: $bg-accent;
    margin: 0 5%;
    word-wrap: break-word; // Ensure text wraps within the container
    overflow-wrap: break-word; // Ensure text wraps within the container
    width: 90%; // Ensure the container does not exceed the viewport width
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.userInt {
    width: 90%;
    margin: 0 5%;
}

footer {
    margin-top: auto;
    width: 100%;
    color: $foreground;
    text-align: center;
    position: absolute;
    bottom: 0;
}

@keyframes fade-in {
    to {
        opacity: 1;
        filter: blur(0);
    }
}